{% extends 'base.html.twig' %}
{% block title %}QCM | Detail {% endblock %}
{% block body %} 
    <div class="container">
    	<div class="row justify-content-center align-items-center">
    		<div class="col-md-12 mt-5">
	    		<h1 class="text-center">Detail</h1>
	    		{% if not resultats %}
					<div class="alert alert-danger text-center" role="alert">
					  Pas de detail à afficher, cliquer sur <a href="{{path('qcm_question',{libele:category.libele})}}" class="alert-link">ici</a> pour jouer au QCM :)
					</div>
	    		{% else %}
		    		<ul>
		    			{% for res in resultats %}
		    			    <li class="question">
		    			    	<span class="font-weight-bold">{{res.question.libele}}</span>
			    			    <ul class="reponses">	    			    	 
			    			    	{% for rep in res.question.reponses %}
			    			    		{% if rep.istrue %}
			    			    			{% if res.reponse and res.reponse.id == rep.id %}
			    			    	    		<li class="is_true reponse_choisie">
			    			    			{% else %}
			    			    	    		<li class="is_true">
			    			    			{% endif %}
			    			    		{% elseif not rep.istrue %}
			    			    			{% if res.reponse and res.reponse.id == rep.id %}
			    			    	    		<li class="not_true reponse_choisie">
			    			    			{% else %}
			    			    	    		<li class="not_true">
			    			    			{% endif %}
			    			    		{% endif %}
			    			    	    	{{rep.libele}}
			    			    	    </li>
			    			    	{% endfor %}
			    			    </ul>
		    			    </li>
		    			{% endfor %}
		    		</ul>
		    		<p class="text-center m-auto">
		    			<a href="{{ path('qcm_replay',{libele:category.libele})}}" class="btn btn-primary btn-sm">Réjouer</a>
		    		</p>
	    		{% endif %}   			
    		</div>
    	</div>
    </div>
{% endblock %}