{% extends 'base.html.twig' %}

{% block body %}
<div class="container pt-5">
	<div class="row">
		<div class="col-md-6 col-auto">
			{% for category in categories %}
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-center">{{category.libele}}</h5>
					<a href="{{path('qcm_question',{libele:category.libele})}}" class="btn btn-primary btn-sm m-auto w-50 ds-block">Jouer</a>
				</div>
			</div>    
			{% endfor %}    
		</div>
	</div>
</div>
{% endblock %}