{% extends 'base.html.twig' %}

{% block title %}QCM!{% endblock %}

{% block body %}
<div class="container">
    <h1>QCM</h1> 
    {{ form_start(form) }} 
    	<p class="question">{{ question.libele }}</p>
    	{{ form_widget(form.reponse)}}
    	<button class="btn btn-primary">Next</button>
    {{ form_end(form) }}
</div>
{% endblock %}
